body {
	
}

#banner{
	width: 100%;
}

.principal{
	background-color: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}
.titulo-centralizado{
	text-align: center;
}

#missao {
	text-align: center;
}

em strong {
	color: #FF0000;
}

.beneficios{
	background-color: #fff;
}

.beneficios h2{
	text-align: center;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 15%;
}

.img-beneficios{
	width: 50%;
}

.itens{
	font-style: italic;
}

